<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- sqlsessionTemplate setting -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"/>
	</bean>
	
	<!-- SqlMap setup for iBATIS Database Layer -->
<!-- 	<bean id="sqlMapClient" class="egovframework.rte.psl.orm.ibatis.SqlMapClientFactoryBean"> -->
<!-- 		<property name="configLocation" value="classpath:hash/com/config/db/sql-mapper-config.xml"/> -->
<!-- 		<property name="dataSource" ref="dataSource"/> -->
<!-- 	</bean> -->

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hash/com/config/db/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:hash/com/config/db/mappers/*-mybatis.xml" />
	</bean>
	 
	 
	 
	<!-- sqlsession mapper setting -->
	<!-- 커넥션 pool을 사용할 dataSource bean 셋팅-->
	<!-- 
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig"></constructor-arg>
    </bean>
	-->
    <!-- DB connection 및 SQL전달/리턴을 위한 SQLSession을 만들어내는 SQLSessionFactory bean 셋팅-->
    <!-- 
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <mybatis-spring:scan base-package="hash.com"/>
 	 -->
	
</beans>
