@charset "UTF-8";

footer {
	height: 500px;
	display: block;
	margin-top: 10px;
}

.footerInner {
	width: 1200px;
	margin: 0 auto;
	padding: 0 80px;
	padding-left: 80px;
	padding-right: 80px;
}

#bottomLogo {
	width: 300px;
}

.bottomBanner {
	height: 150px;
	background-color: rgb(44, 44, 44);
}

.lineTopBottomDiv{
	min-width: 1200px;
	margin: 0 auto;
	padding: 0 80px;
	padding-left: 80px;
	padding-right: 80px;
}