@charset "UTF-8";

#page-top {
	margin: 0px;
	min-width: 1200px;
	display: block;
	font: 12px/18px "Noto Sans KR", NanumGothic, "나눔고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Dotum;
	margin-top: 20px;
}

.header-search label {
	width: 100%;
	height: 30px;
	align-items: center;
	padding: 8px 10px 8px 15px;
	position: relative;
	border-radius: 23px;
	background-color: rgb(245, 246, 247);
	margin-top: 5px;
}

.toolbar-area-top-left{
	width: 65%;
	padding-left: 60px;
}

.header-search input {
	width: 98%;
	height: 30px;
	border: none;
	background-color: rgb(245, 246, 247);
	outline-style: none;
}

.topLineDiv {
	background-color: rgb(44, 44, 44);
}

.areaLine{
	border: 2px solid rgb(44, 44, 44);
	margin-left: -100px;
}

.postAreaLine{
	border: 2px solid rgb(44, 44, 44);
}

.toolbar-area-top{
	margin-bottom: 10px;
}


.inner {
	width: 1200px;
	margin: 0 auto;
}

.focus {
	border: 1px solid rgb(38, 86, 246);
}

.toolbar-util-li {
	margin-left: 15px;
}

.toolbar-util-li>a {
	display: block;
}

.toolbar-util-li>a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
}

.toolbar-util-ul a:hover {
	color: rgb(110, 109, 122);
}

.toolbar-mlist {
	height: 55px;
	width: 1200px;
	margin: 0 auto;
	padding-left: 35px;
}

.toolbar-mlist-ul {
	margin: inherit;
	display: -webkit-flex;
	padding: inherit;
	height: 100%;
	align-items: center;
	-webkit-align-items: center;
}

.toolbar-mlist-li {
	margin-right: 30px;
	height: 45px;
	width: 80px;
}
.toolbar-mlist-li a{
	width: 80px;
	padding-top: 15px;
	text-align: center;
	border-radius: 23px;
}
.toolbar-mlist-li a:hover{
	background-color: rgb(245, 246, 247);	
}

.toolbar-mlist-li a {
	display: block;
}

.toolbar-mlist-li>a {
	color: #101c33;
	text-decoration: none;
	font-weight: 800;
	font-size: 15px;
}

.toolbar-mlist-li a:hover {
	color: blue;
}

.flex {
	display: flex;
}